

#define CBKSHIFT(BINDINGS, KEYPOS) \
  cbkshift_##KEYPOS { \
    timeout-ms = <2000>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS 69>; \
    key-positions-leader = <KEYPOS>; \
    key-positions-first-exclude = <69>; \
    slow-release; \
    layers = <DEFAULT>; \
  };

#define CBKS(BINDINGS, KEYPOS) \
  cbks_##KEYPOS { \
    timeout-ms = <2000>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS 69>; \
    key-positions-leader = <KEYPOS>; \
    key-positions-first-exclude = <69>; \
    layers = <DEFAULT>; \
  };


combos {
        compatible = "zmk,combos";
//shift+BKSPACE<>TILDE 
CBKSHIFT(&kp LA(N1), 23) 
CBKS(&mc_bkctilde A, 35)  

    };